.pageheader {
    @include padding(150px 0);
    &__content {
        @extend %text-center;
        h2 {}
        ul {
            @extend %justify-center;
            @include margin-bottom(0);
            gap: 30px;
            li {
                @extend %theme-color;
                a {
                    @extend %text-700, %title-color, %rel;
                    &:hover {
                        @extend %theme-color;
                    }
                    &::after {
                        width: 1px;
                        height: 100%;
                        right: -15px;
                        top: 0;
                        @extend %bg-title, %abs;
                        @include transform(rotate(25deg));
                    }
                }
            }
        }
    }
}