/**
 * Basic typography style for copy text
 */


body {
  color: $text-color;
  background-color: $body-bg-color;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $text-font;
  border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  color: $title-color;
  line-height: 1.25;
  font-weight: 700;
  @extend %text-capitalize;
  @include transition($transition);

  a {
    color: inherit;
    font-family: inherit;
    @include transition($transition);
  }
}

h1 {
  @include font-size($fs-h1);
}

h2 {
  @include font-size($fs-h2);
}

h3 {
  @include font-size($fs-h3);
}

h4 {
  @include font-size($fs-h4);
}

h5 {
  @include font-size($fs-h5);
}

h6 {
  @include font-size($fs-h6);
  @include breakpoint(xl) {
    @include breakpoint(max-xxl) {
      font-size: 16px;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  @include transition($transition);
}

a {
  color: $text-color;
  text-decoration: none;
  @include transition($transition);

  @include hover {
    color: $theme-color;
  }
}

ul,
ol {
  @extend %list-none;
  @extend %p-0;
  @extend %m-0;
}